#general__counter {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 2rem;
    height: 16rem;
    border: solid;
    border-radius: 1rem;
    background-color: #070707
        
}

.numero__counter {
    font-size: 6rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #0E0E0E;
    color: white;
}

@media screen and (max-width: 992px) {
    
    .numero__counter {
        font-size: 3.5rem;
    }
}


@media screen and (max-width: 500px) {
    
    #general__counter {
        margin: 0.5rem;
        height: 10rem;

    }

    .numero__counter {
        font-size: 1rem;
        margin: 0.2rem;

    }
}



   
   
   
   
   
